In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import glob
file_paths = glob.glob('/content/drive/Shareddrives/Minnie Mudac/MinneMUDAC2023/gl1871_2022/*.txt')

df = []

for files in file_paths:
  data = pd.read_csv(files, header = None)
  df.append(data)

In [4]:
df = pd.concat(df, axis = 0, ignore_index = True)

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,19950425,0,Tue,LAN,NL,1,FLO,NL,1,8,...,Charles Johnson,2.0,carrc001,Chuck Carr,8.0,burkj001,John Burkett,1.0,NaN,Y
1,19950426,0,Wed,MIN,AL,1,BOS,AL,1,0,...,Mike Macfarlane,2.0,naeht001,Tim Naehring,5.0,tinsl001,Lee Tinsley,8.0,NaN,Y
2,19950426,0,Wed,DET,AL,1,CAL,AL,1,5,...,J.T. Snow,3.0,allaa001,Andy Allanson,2.0,disag001,Gary Disarcina,6.0,NaN,Y
3,19950426,0,Wed,BAL,AL,1,KCA,AL,1,1,...,Greg Gagne,6.0,maynb001,Brent Mayne,2.0,lindj002,Jose Lind,4.0,NaN,Y
4,19950426,0,Wed,CHA,AL,1,MIL,AL,1,3,...,Turner Ward,9.0,olivj001,Joe Oliver,2.0,valej003,Jose Valentin,6.0,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228188,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,Will Brennan,7.0,maill001,Luke Maile,2.0,stram002,Myles Straw,8.0,NaN,Y
228189,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,Jake Meyers,8.0,dubom001,Mauricio Dubon,6.0,maldm001,Martin Maldonado,2.0,NaN,Y
228190,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,Conner Capel,9.0,garcd004,Dermis Garcia,3.0,allen002,Nick Allen,6.0,NaN,Y
228191,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,Abraham Toro,5.0,casac001,Curt Casali,2.0,crawj002,J.P. Crawford,6.0,NaN,Y
228192,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,Charlie Culberson,7.0,tavel001,Leody Taveras,8.0,thomb003,Bubba Thompson,9.0,NaN,Y

In [7]:
df.to_csv("/content/drive/Shareddrives/Minnie Mudac/MinneMUDAC2023/origin_all_data.csv")

In [16]:
# Convert the first column to a datetime object
date_column = pd.to_datetime(df.iloc[:, 0], format='%Y%m%d')

# Extract the year component
year_column = date_column.dt.year

# Add the year and attenance column to the dataframe
df['year'] = year_column
df

,0,1,2,3,4,5,6,7,8,9,...,152,153,154,155,156,157,158,159,160,year
0,19950425,0,Tue,LAN,NL,1,FLO,NL,1,8,...,2.0,carrc001,Chuck Carr,8.0,burkj001,John Burkett,1.0,NaN,Y,1995
1,19950426,0,Wed,MIN,AL,1,BOS,AL,1,0,...,2.0,naeht001,Tim Naehring,5.0,tinsl001,Lee Tinsley,8.0,NaN,Y,1995
2,19950426,0,Wed,DET,AL,1,CAL,AL,1,5,...,3.0,allaa001,Andy Allanson,2.0,disag001,Gary Disarcina,6.0,NaN,Y,1995
3,19950426,0,Wed,BAL,AL,1,KCA,AL,1,1,...,6.0,maynb001,Brent Mayne,2.0,lindj002,Jose Lind,4.0,NaN,Y,1995
4,19950426,0,Wed,CHA,AL,1,MIL,AL,1,3,...,9.0,olivj001,Joe Oliver,2.0,valej003,Jose Valentin,6.0,NaN,Y,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228188,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,7.0,maill001,Luke Maile,2.0,stram002,Myles Straw,8.0,NaN,Y,2022
228189,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,8.0,dubom001,Mauricio Dubon,6.0,maldm001,Martin Maldonado,2.0,NaN,Y,2022
228190,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,9.0,garcd004,Dermis Garcia,3.0,allen002,Nick Allen,6.0,NaN,Y,2022
228191,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,5.0,casac001,Curt Casali,2.0,crawj002,J.P. Crawford,6.0,NaN,Y,2022
228192,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,7.0,tavel001,Leody Taveras,8.0,thomb003,Bubba Thompson,9.0,NaN,Y,2022

In [24]:
df['year'].unique()

array([1995, 1961, 1973, 1972, 1982, 1903, 1996, 1876, 1886, 1873, 1974,
       1930, 1882, 1992, 1885, 1955, 1962, 1966, 1936, 1975, 1917, 1924,
       1910, 1904, 1954, 1934, 1933, 1953, 1874, 1897, 1956, 1944, 1935,
       1971, 1925, 1920, 1872, 1931, 1899, 1991, 1894, 1918, 1884, 1911,
       1945, 1997, 1923, 1967, 1900, 1877, 1895, 1909, 1901, 1915, 1963,
       1913, 1942, 1902, 1892, 1905, 1891, 1893, 1952, 1969, 1922, 1912,
       1916, 1939, 1907, 1921, 1880, 1919, 1871, 1948, 1878, 1977, 1951,
       1964, 1976, 1960, 1965, 1981, 1941, 1999, 1889, 1957, 1898, 1986,
       1887, 1927, 1929, 1968, 1994, 1990, 1970, 1985, 1978, 1993, 1926,
       1950, 1958, 1959, 1988, 1987, 1883, 1984, 1949, 1875, 1998, 1943,
       1908, 1888, 1940, 1980, 1947, 1896, 1938, 1989, 1906, 1879, 1881,
       1937, 1890, 1932, 1983, 1946, 1979, 1928, 2021, 2007, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019, 2020, 2022, 2011, 2008, 2000,
       2001, 2002, 2003, 2004, 2005, 2006, 2009, 2010, 1914])

In [14]:
df.iloc[:,99]

0         martr002
1         greem001
2         samuj001
3         joynw001
4         jahaj001
            ...
228188    naylj001
228189    mccoc001
228190    capec001
228191    frant002
228192    thomb003
Name: 99, Length: 228193, dtype: object

In [17]:
all_id = df.iloc[:,[161,93,95,97,99,101,103,105,108,111,114,117,120,123,126,129,132,135,138,141,144,147,150,153,156]]
visit_id = df.iloc[:,[161,101,105,108,111,114,117,120,123,126,129]]
home_id = df.iloc[:,[161,103,132,135,138,141,144,147,150,153,156]]

In [18]:
visit_id

,year,101,105,108,111,114,117,120,123,126,129
0,1995,martr002,deshd001,offej001,mondr002,piazm001,karre001,rodrh001,ashlb001,hansd001,martr002
1,1995,erics001,knobc001,colea001,puckk001,munop001,maask001,cordm001,leius001,mearp001,walbm001
2,1995,moorm001,curtc001,flets001,pembr001,fielc001,frymt001,samuj001,bautd001,gomec001,flahj001
3,1995,mussm001,andeb001,barbb001,palmr001,ripkc001,bainh001,hoilc001,vansa001,gomel001,hammj001
4,1995,ferna001,durhr001,raint001,thomf001,saboc001,ventr001,devem001,johnl001,karkr001,guilo001
...,...,...,...,...,...,...,...,...,...,...,...
228188,2022,heasj001,melem001,wittb002,pasqv001,olive001,massm001,wated001,isbek001,eaton001,rives002
228189,2022,faltb001,schwk001,hoskr001,realj001,castn001,seguj002,vierm001,guthd001,maton001,stubg001
228190,2022,ohtas001,rengl001,troum001,ohtas001,wardt002,duffm002,fletd002,sotol001,adelj001,stasm001
228191,2022,alext001,badda001,baezj001,greer003,torks001,haase001,candj002,schoj001,davib006,kreir001
228192,2022,germd001,lemad001,rizza001,cabro002,donaj001,perao002,trevj001,gonzm002,higak001,hicka001

In [19]:
home_id

,year,103,132,135,138,141,144,147,150,153,156
0,1995,burkj001,veraq001,ariaa001,shefg001,conij001,pendt001,colbg001,johnc002,carrc001,burkj001
1,1995,selea001,alicl001,valej002,cansj001,vaugm001,whitm001,greem001,macfm001,naeht001,tinsl001
2,1995,finlc001,philt001,easld001,edmoj001,davic001,salmt001,peree001,snowj001,allaa001,disag001
3,1995,appik001,tuckm001,goodt001,joynw001,hameb001,josef001,gaetg001,gagng001,maynb001,lindj002
4,1995,boner001,listp001,hamid001,seitk001,vaugg001,may-d001,jahaj001,wardt001,olivj001,valej003
...,...,...,...,...,...,...,...,...,...,...,...
228188,2022,civaa001,kwans001,rosaa003,ramij003,gimea001,naylj001,gonzo001,brenw002,maill001,stram002
228189,2022,valdf001,tuckk001,diaza003,alvay001,brega001,gurry001,manct001,meyej002,dubom001,maldm001
228190,2022,waldk003,kempt001,murps001,brows003,diazj008,vogts001,pindc001,capec001,garcd004,allen002
228191,2022,gonzm005,rodrj007,frant002,hanim001,santc002,torrl001,tramt001,toroa001,casac001,crawj002
228192,2022,ottog001,semim001,lowen001,garca005,jungj001,smitj007,heimj001,culbc001,tavel001,thomb003

In [20]:
file = '/content/drive/Shareddrives/Minnie Mudac/MinneMUDAC2023/DataSummary/'

allstar_id = pd.read_csv(file + "allstar_id.csv", sep=",",header=None)

In [21]:
allstar_list = allstar_id.iloc[:,0].tolist()

In [ ]:
counter_allstar = list()

for i in range(0,all_id.shape[0]):
  n = 0
  for id in all_id.iloc[i,:].unique():
    if id in allstar_list:
      #print(id)
      n += 1
  #print(n)
  counter_allstar.append(n)
  #print(counter_allstar)

In [22]:
counter_visit_allstar = list()

for i in range(0,visit_id.shape[0]):
  n = 0
  for id in visit_id.iloc[i,:].unique():
    if id in allstar_list:
      #print(id)
      n += 1
  #print(n)
  counter_visit_allstar.append(n)
  #print(counter_allstar)

In [23]:
counter_home_allstar = list()

for i in range(0,home_id.shape[0]):
  n = 0
  for id in home_id.iloc[i,:].unique():
    if id in allstar_list:
      #print(id)
      n += 1
  #print(n)
  counter_home_allstar.append(n)
  #print(counter_allstar)

In [ ]:
counter_home_allstar

In [ ]:
counter_allstar

In [ ]:
len(counter_allstar)

228193

In [ ]:
visit_vote = list()

for i in range(0,visit_id.shape[0]):
  n = 0
  for id in visit_id.iloc[i,:].unique():
    if id in allstar_list:
      #print(id)
      n += 1
  #print(n)
  counter_visit_allstar.append(n)
  #print(counter_allstar)

In [1]:
from datetime import datetime
data = pd.DataFrame()
data['Year'] = pd.to_datetime(df.iloc[:,0], format='%Y%m%d').dt.year
data['Month'] = pd.to_datetime(df.iloc[:,0], format='%Y%m%d').dt.month
data['Visiting team league'] = df.iloc[:, 4]

data['counter_visit_allstar']= counter_visit_allstar
data['counter_home_allstar']= counter_home_allstar

NameError: ignored

In [ ]:
data

        Year  Month Visiting team league  counter_allstar
0       1995      4                   NL                5
1       1995      4                   AL                3
2       1995      4                   AL                3
3       1995      4                   AL                6
4       1995      4                   AL                4
...      ...    ...                  ...              ...
228188  2022     10                   AL                2
228189  2022     10                   NL                4
228190  2022     10                   AL                2
228191  2022     10                   AL                2
228192  2022     10                   AL                4

[228193 rows x 4 columns]

In [ ]:
data = data[data['Year'] >=1990]

In [ ]:
data.drop(data[data['Visiting team league'] == 'ML'].index, inplace = True)

<ipython-input-84-415c68ec6402>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(data[data['Visiting team league'] == 'ML'].index, inplace = True)

In [ ]:
data

        Year  Month Visiting team league  counter_allstar
0       1995      4                   NL                5
1       1995      4                   AL                3
2       1995      4                   AL                3
3       1995      4                   AL                6
4       1995      4                   AL                4
...      ...    ...                  ...              ...
228188  2022     10                   AL                2
228189  2022     10                   NL                4
228190  2022     10                   AL                2
228191  2022     10                   AL                2
228192  2022     10                   AL                4

[76975 rows x 4 columns]

In [ ]:
data.iloc[70000:70010,]

        Year  Month Visiting team league  counter_allstar
219320  2002      5                   NL                4
219321  2002      5                   NL                7
219322  2002      5                   NL                4
219323  2002      5                   NL                3
219324  2002      5                   NL                6
219325  2002      5                   AL                4
219326  2002      5                   AL               12
219327  2002      5                   AL                2
219328  2002      5                   AL                4
219329  2002      5                   AL                6

In [ ]:
final_games = pd.read_csv("/content/drive/Shareddrives/Minnie Mudac/MinneMUDAC2023/final_games.csv", sep=",",header=0)

In [ ]:
final_games.shape

(76975, 15)

In [ ]:
final_games['counter_allstar'] = data['counter_allstar'].tolist()

In [ ]:
final_games

,Unnamed: 0,Year,Month,Number of game,Day of week,Visiting team,Visiting team league,Visiting team game number,Home team,Home team league,Home team game number,Day/night,Attendance,Time of game in minutes,Home team Game Won,counter_allstar
0,0,1995,4,0,Tue,Los Angeles Dodgers,NL,1,Miami Marlins,NL,1,N,42125.0,213.0,0,5
1,1,1995,4,0,Wed,Minnesota Twins,AL,1,Boston Red Sox,AL,1,D,32980.0,169.0,1,3
2,2,1995,4,0,Wed,Detroit Tigers,AL,1,California Angels,AL,1,N,51145.0,184.0,0,3
3,3,1995,4,0,Wed,Baltimore Orioles,AL,1,Kansas City Royals,AL,1,D,24170.0,180.0,1,6
4,4,1995,4,0,Wed,Chicago White Sox,AL,1,Milwaukee Brewers,AL,1,D,31426.0,187.0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76970,228188,2022,10,0,Wed,Kansas City Royals,AL,162,Cleveland Guardians,AL,162,D,12983.0,159.0,1,2
76971,228189,2022,10,0,Wed,Philadelphia Phillies,NL,162,Houston Astros,AL,162,D,32432.0,169.0,1,4
76972,228190,2022,10,0,Wed,Los Angeles Angels,AL,162,Oakland Athletics,AL,162,D,11232.0,164.0,1,2
76973,228191,2022,10,0,Wed,Detroit Tigers,AL,162,Seattle Mariners,AL,162,D,22053.0,168.0,1,2
76974,228192,2022,10,0,Wed,New York Yankees,AL,162,Texas Rangers,AL,162,D,28056.0,168.0,1,4

In [ ]:
final_games = final_games.drop(final_games.columns[0], axis=1)

In [ ]:
final_games = final_games[final_games['Year'] != 2020]

In [ ]:
final_games

,Year,Month,Number of game,Day of week,Visiting team,Visiting team league,Visiting team game number,Home team,Home team league,Home team game number,Day/night,Attendance,Time of game in minutes,Home team Game Won,counter_allstar
0,1995,4,0,Tue,Los Angeles Dodgers,NL,1,Miami Marlins,NL,1,N,42125.0,213.0,0,5
1,1995,4,0,Wed,Minnesota Twins,AL,1,Boston Red Sox,AL,1,D,32980.0,169.0,1,3
2,1995,4,0,Wed,Detroit Tigers,AL,1,California Angels,AL,1,N,51145.0,184.0,0,3
3,1995,4,0,Wed,Baltimore Orioles,AL,1,Kansas City Royals,AL,1,D,24170.0,180.0,1,6
4,1995,4,0,Wed,Chicago White Sox,AL,1,Milwaukee Brewers,AL,1,D,31426.0,187.0,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76970,2022,10,0,Wed,Kansas City Royals,AL,162,Cleveland Guardians,AL,162,D,12983.0,159.0,1,2
76971,2022,10,0,Wed,Philadelphia Phillies,NL,162,Houston Astros,AL,162,D,32432.0,169.0,1,4
76972,2022,10,0,Wed,Los Angeles Angels,AL,162,Oakland Athletics,AL,162,D,11232.0,164.0,1,2
76973,2022,10,0,Wed,Detroit Tigers,AL,162,Seattle Mariners,AL,162,D,22053.0,168.0,1,2
76974,2022,10,0,Wed,New York Yankees,AL,162,Texas Rangers,AL,162,D,28056.0,168.0,1,4

In [ ]:
final_games.to_csv('/content/drive/Shareddrives/Minnie Mudac/MinneMUDAC2023/final_games_update.csv',index=False)